doctype html
html(ng-app='viajes')
head
	title= 'Viajes Transparentes'
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/flat-ui.min.css')
	link(rel='stylesheet', href='/css/style.css')
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body(ng-controller="NavigationController as nav")
	#map
	#panel
		#search_panel(class="ar-panel {{search_panel_class}}")
			h3 Buscar viajes

			.ar-btn-wrapper
				.btn-group.ar-search-nav
					button.btn.btn-primary(ng-click="switchMode('destinos')" ng-class="{active:searchMode=='destinos'}") <span class="fui-location"></span></a> Destino
					button.btn.btn-primary(ng-click="switchMode('servidores');" ng-class="{active:searchMode=='servidores'}") <span class="fui-user"></span></a> Persona
					button.btn.btn-primary(ng-click="switchMode('inicio');" ng-class="{active:searchMode=='inicio'}") <span class="fui-calendar"></span></a> Fecha
					button.btn.btn-primary(ng-click="switchMode('eventos');" ng-class="{active:searchMode=='eventos'}") <span class="fui-bookmark"></span></a> Evento
	
			.ar-search-bar
				input#search-input.ar-search(type="text" placeholder="Buscar" required autofocus ng-model="searchinput" ng-keyup="autocomplete($event)" ng-keydown="moveUpOrDown($event)" ng-blur="list_out='ar-out'" ng-focus="list_out='ar-in'")
				ul(class="ar-autocomplete-list {{list_out}}")
					li.ar-suggestion( ng-repeat="sug in suggestions" ng-class="{active:activeSuggestion==sug.id}" ng-mouseover="setSuggestion(sug.id)") {{sug.title}}
	
			ul.ar-options-list
				li(ng-repeat="option in options" ng-click="view(option._id)")
					div.ar-option-upper
						div.ar-money {{option.totalCost}} <span>{{option.gastos.moneda}}</span>
						div.ar-transport(class="{{option.transportClass}}") {{option.pasaje.linea_origen}}
					div.ar-option-middler
						div(class="ar-person-photo {{option._servidor.tipo_rep.charAt(0).toLowerCase()}}")
						//- a.ar-name(href="{{document.URL+'servidor/'+option._servidor._id}}") {{option._servidor.nombre.toLowerCase()}}
						a.ar-name {{option._servidor.nombre.toLowerCase()}}
						.ar-date {{option.inicio.dia}} de {{option.inicio.mes}}, {{option.inicio.anio}}
						.ar-clear
					div.ar-option-bottom
						.ar-from-to
							.ar-from {{option.origen}} 
							| .....
							.ar-to {{option.destinos}}
						.ar-long-text-line {{option.evento.nombre}}
					div(class="ar-view")
			
			.backbtn(ng-click="navigateTo('welcome_panel','backward')" ng-mouseover="" ng-mouseleave="")
			
		#travel_panel.ar-panel(class="ar-panel {{travel_panel_class}}" ng-cloak)
			.ar-wrapper.w7
				.ar-top-info
					.ar-travel-transport
						div(class="ar-travel-type {{currentTravel.transportClass}}")
						.ar-travel-title Viaje {{currentTravel.tipo_viaje}} {{currentTravel.pasaje.tipo}}
					.ar-text-right
						div(class="ar-travel-cost") {{currentTravel.totalCost}}
						div(class="ar-currency") {{currentTravel.gastos.moneda}}
				div.ar-from-to {{currentTravel.origen}} <span></span> {{currentTravel.destinos}}
				div.ar-date {{currentTravel.inicio.dia}}° <span>de</span> {{currentTravel.inicio.mes}} <span class="ar-frmto"></span> {{currentTravel.fin.dia}}° <span>de</span> {{currentTravel.fin.mes}}, {{currentTravel.inicio.anio}} <span>({{currentTravel.dias}})</span>
				div.ar-gdetails
					div(class="ar-hotel") {{currentTravel.hotel.nombre}}
					div(class="ar-airline") {{currentTravel.pasaje.linea_origen}}

				div.ar-person
					div(class="ar-person-photo {{currentTravel._servidor.tipo_rep.charAt(0).toLowerCase()}}")
					//- a(href="{{document.URL+'servidor/'+currentTravel._servidor._id}}").ar-name {{currentTravel._servidor.nombre.toLowerCase()}}
					a.ar-name {{currentTravel._servidor.nombre.toLowerCase()}}
					span {{currentTravel._servidor.puesto.toLowerCase()}} - {{institutions[currentTravel._servidor._institucion].nombre}}
				
				div.ar-stuff
					h6 Motivo
					p {{currentTravel.motivo}}
					h6 Resultado
					p.ar-pbigger {{currentTravel.resultado}}
					br
					h6 Evento
					p {{currentTravel.evento.nombre}}

				.ar-clear
				div.ar-stuff-maybe-someone-will-ever-read
					h7 Instituciones que patrocinan el viaje
					.ar-clear
					.ar-institution
						h6 {{currentTravel._institucion_hospedaje.nombre}}
						p {{currentTravel._institucion_hospedaje.descripcion}}
							br
							a(href="http://{{currentTravel._institucion_hospedaje.sitio}}") {{currentTravel._institucion_hospedaje.sitio}}
					.ar-institution(ng-show="currentTravel._institucion_hospedaje.nombre != currentTravel._institucion_pasaje.nombre")
						h6 {{currentTravel._institucion_pasaje.nombre}}
						p {{currentTravel._institucion_pasaje.descripcion}}
							br
							a(href="http://{{currentTravel._institucion_pasaje.sitio}}") {{currentTravel._institucion_pasaje.sitio}}

				.ar-clear

				#pdf.ar-actions.col-xs-3(ng-click="pdf()")
					.ar-borderer Descargar en formato PDF
				a#twitter.ar-actions.col-xs-3(target="_blank" href="http://twitter.com/share?url={{currentURL}}&text=Viajes%20Transparentes%20&hashtags=IFAI,transparencia")
					.ar-borderer Compartir en Twitter
				a#facebook.ar-actions.col-xs-3(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{currentURL}}") 
					.ar-borderer Mostrar en Facebook
				#email.ar-actions.col-xs-3(ng-click="email()")
					.ar-borderer Eviarme esto por correo

				.ar-spacer
			.backbtn(ng-click="navigateTo('welcome_panel','backward')")
			
		#welcome_panel(class="ar-panel {{welcome_panel_class}}")
			.ar-wrapper
				h4 Te damos la bienvenida a
				.ar-logo
				h1 Viajes Transparentes
				p El Instituto Federal de Acceso a la Información (IFAI) pone a tu disposición toda la información sobre viajes de funcionarios públicos, nacionales e internacionales, desde costos hasta resultados, por favor explora los datos y comparte la información que deses

			.ar-badges
				.col-sm-3.col-xs-6
					.ar-badge
				.col-sm-3.col-xs-6
					.ar-badge
				.col-sm-3.col-xs-6
					.ar-badge
				.col-sm-3.col-xs-6
					.ar-badge
			
			p.ar-center o bien

			.ar-welcome-options
				button(ng-click="searchPanel()" type="button" class="ar-search btn btn-block btn-lg btn-primary") Buscar 
					span(class="glyphicon glyphicon-search")

			.ar-wrapper
				p Últimos datos publicados
				ul.ar-travels
					each travel in data
						li(id="#{travel._id}" ng-click="view('#{travel._id}')")
							div(class="ar-view")
							if travel.pasaje.tipo=='Aéreo'
								div(class="ar-travel-type ar-transport-air" title="Transporte aréreo")
							else if travel.pasaje.tipo=='Terrestre'
								div(class="ar-travel-type ar-transport-land" title="Transporte terrestre")
							else if travel.pasaje.tipo=='Marítimo'
								div(class="ar-travel-type ar-transport-sea" title="Transporte marítimo")
							else
								div(class="ar-travel-type ar-transport-unk" title="Transporte desconocido")
							div.ar-travel-cost #{_.str.numberFormat(travel.gastos.viaticos+travel.gastos.pasaje+travel.gastos.hospedaje,2)}
							div.ar-star-err
								if travel.gastos.hospedaje==null || travel.gastos.pasaje==null || travel.gastos.viaticos==null
									a(href="#nota")  *
							div.ar-currency=travel.gastos.moneda
							- var day = 24*60*60*1000;							
							- var days = Math.round(Math.abs((travel.comision.fin - travel.comision.inicio)/(day))) + "";
							if days != "NaN" && days != "0"
								.ar-time #{days} Días
							else
								.ar-time **

							div.ar-name #{travel._servidor.nombre.toLowerCase()}
							//- div #{travel._destinos[0].ciudad}
							- var destinos = []; for(var i=travel._destinos.length-1;i>=0;i--) destinos.push( travel._destinos[i].ciudad+','+travel._destinos[i].pais );
							div.ar-from-to #{travel._origen.ciudad},#{travel._origen.pais} <span></span> #{destinos.join('; ')}
				
				.col-sm-12.col-xs-12
					h6 Recibe los datos en tu correo
					p Cada vez que se de de alta un nuevo viaje recibirás un correo electrónico con todos los datos

					form.ar-subcription.login-form.form.ar-form(ng-submit="createTravel()")
						.form-group
							input(class="form-control {{subscribed}}" type="email" ng-model="subscriptor" placeholder="Correo electrónico")
							label.login-field-icon.fui-mail(class="{{subscribed}}")
							button(ng-click="subscribe()" type="button" class="btn btn-block btn-lg btn-primary {{subscribed}}") {{subscribed}}
								span(class="fui-check")

				p#nota * Algunos datos están incompletos
				p#nota Esta es una muestra representativa de los datos.
			.ar-clear
			.ar-sponsors
				.col-sm-3.col-xs-6.ar-sponsor
					a.ar-ifai(href="http://www.ifai.org.mx" target="_blank") 
				.col-sm-3.col-xs-6.ar-sponsor
					a.ar-codeando(href="http://codeandomexico.org/" target="_blank") 
				.col-sm-3.col-xs-6.ar-sponsor
					a.ar-socialtic(href="http://socialtic.org/" target="_blank") 
				.col-sm-3.col-xs-6.ar-sponsor
					a.ar-imco(href="http://imco.org.mx/" target="_blank") 			
			.ar-credits
				div.ar-left			
					a(href="/rest") 
						span.fui-list-small-thumbnails 
						| REST
				div.ar-left
					a(href="") 
						span.fui-github
						|  Fuente
				.ar-right Hecho por 
					a(href="http://twitter.com/AixAimee" target="_blank") @aixaimee 
					| y 
					a(href="http://twitter.com/Dantaex" target="_blank") @dantaex 
					| en 
					a(href="http://aerostato.mx" target="_blank") aerostato.mx

	script(src='/js/angular.min.js')
	script(src='/js/underscore.js')
	script(src='/js/jspdf.js')
	script(src='/js/app.js')
	if initialData
		script.
			initialData = !{JSON.stringify(initialData)};
			section = '#{section}';
	else
		script.
			initialData = null;
			section = '#{section}';