doctype html
html(ng-app='viajes')
head
	title= 'Viajes Transparentes'
	link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	link(rel="apple-touch-icon", href="/apple-touch-icon.png")
	link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/flat-ui.min.css')
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='/css/map.css')
	link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

body(ng-controller="NavigationController as nav")
	//-FB shit
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '602116963234110',
				cookie     : true,  
				xfbml      : true, 
				version    : 'v2.1'
			});

			FB.getLoginStatus(function(response) {
				if (response.status === 'connected') FBSTATUS = 'connected';
				else if (response.status === 'not_authorized') FBSTATUS = 'not_authorized';
			});
		};
		FBSTATUS = 'unknown';
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	#fb-root


	//- App panel
	#panel
		
		include ./app_views/welcome_panel.jade

		include ./app_views/navigation_panel.jade

		include ./app_views/traveller_panel.jade
		
		include ./app_views/travel_panel.jade

		//-AYUDA DE HUGO! COLOCARLO EN LUGAR APROPIADO!
		//- #map_panel(class="ar-panel {{map_panel_class}}")
			.ar-tp-bger-shrinker
				.ar-wrapper.w7
					.ar-the-hint Comparación de <b>viajes</b>
					div(ng-controller="MapController as map")
						leaflet.leaflet-map(center="center", layers="layers", defaults="defaults", markers="markers")
				
		include ./app_views/search_panel.jade

		#compviaj_panel.compare_panel.ar-panel(class="ar-panel {{compviaj_panel_class}}" ng-cloak)
			.ar-tp-bger-shrinker
				.ar-wrapper.w7
					.ar-the-hint Comparación de <b>viajes</b>
					.backbtn(ng-click="compviaj_panel_class='out'")
					section.ar-vwrap
						h1 comparación de viajes próximamente!

		#compserv_panel.compare_panel.ar-panel(class="ar-panel {{compserv_panel_class}}" ng-cloak)
			.ar-tp-bger-shrinker
				.ar-wrapper.w7
					.ar-the-hint Comparación de <b>servidores públicos</b>
					.backbtn(ng-click="compserv_panel_class='out'")
					section.ar-vwrap.ar-theimportant-title
						h5 Comparar Servidores

					section.ar-vwrap
						.col-xs-12.col-sm-6
							.ar-90r
								canvas#compserv_bar
						.col-xs-12.col-sm-6
							.ar-90r
								canvas#compserv_donut
								p.ar-center Presupuesto total
					section.ar-vwrap
						table
							thead
								tr 
									th(style="width:10px;")
									th Servidor público
									th Puesto
									th Viajes
									th Presupuesto total
							tbody
								tr(ng-repeat="s in compareList.servidores")
									td.ar-color-tag(style="background-color:{{s.color}};")
									td.ar-cap {{s.nombre.toLowerCase()}}
									td.ar-cap.ar-max {{s.puesto.toLowerCase()}}
									td {{s.nviajes}}
									td.ar-imp $ {{s.spent_so_far_mxn_lt}}
						//- .ar-resptable
							.ar-row(ng-repeat="s in compareList.servidores")
								.ar-col 
									.ar-person-photo
								.ar-col
									p {{s.nombre}}
								.ar-col
									p {{s.puesto}}
								.ar-col
									p {{s.nviajes}}
								.ar-col
									p $ {{s.spent_so_far_mxn_lt}}
		
		//- kind of modal
		#peekCompare(ng-class="{in:pkc}").ar-compare-peek
			.ar-close-nonstd(ng-click="pkc=false")
			h6.ar-center Elementos para comparar
			.col-xs-12.col-sm-6.ar-center
				div Servidores públicos 
					span ({{compareList.servidores.length}})
				.ar-pre-complist-cont
					.ar-row(ng-repeat="s in compareList.servidores")
						{{s.nombre}}
				button.btn.btn-primary(ng-click="compserv_panel()") Comparar
			.col-xs-12.col-sm-6.ar-center.ar-peek-divider
				div Viajes
					span(ng-show="compareList.viajes.length") ({{compareList.viajes.length}})
				.ar-pre-complist-cont
					.ar-row(ng-repeat="s in compareList.viajes").ar-ellipsable
						{{s.evento.nombre}}
				button.btn.btn-primary(ng-click="compviaj_panel()") Comparar

		//- Follow modal
		div(class="ar-modal-window {{followModal}}")
			.ar-modal-bg
			.ar-modal-body
				.ar-modal-closebtn(ng-click="followModal='out'")
				h6 Suscribirse
				p.ar-subtile Recibirás un correo electrónico cada vez que se reporte un nuevo viaje de este servidor público 
				form.ar-subcription.login-form.form.ar-form(ng-submit="followTraveller()")
					.form-group
						input(class="form-control" type="email" ng-model="loggedUser.userData.email" placeholder="Correo electrónico")
						label.login-field-icon.fui-mail
						button(ng-click="followTraveller()" type="button" class="btn btn-block btn-lg btn-primary") Seguir a este servidor

		//- Login modal
		div(class="ar-modal-window {{loginModal}}")
			.ar-modal-bg
			.ar-modal-body
				.ar-modal-closebtn(ng-click="loginModalCallback('canceled');loginModal='out'")
				p.ar-subtile Para hacer una pregunta debes 
				h6 Inicar sesión
				.ar-loginbtn.ar-fblogin(ng-click="loginModalCallback('facebook')") Facebook
				.ar-loginbtn.ar-gologin(title="Próximamente") Google (próximamente)
				.ar-ldiv 
				p.ar-subtile 
					a Iniciar sesión con correo electrónico
				p.ar-subtile 
					a Registrarse correo electrónico

		//-alert guy
		.app-alert(ng-class="{in:alert!=''}") {{alert}}

		//-loader guy
		#apploader(ng-show="false")

	script(src='/js/jspdf.min.js')
	script(src='/js/flowcontrol.js')
	script(src='/js/angular.min.js')
	script(src='/js/app.js')
	script(src='/js/jquery.min.js')
	script(src='/js/collapse.js')
	script(src='/js/transition.js')
	script(src='/js/dropdown.js')
	script(src='/js/underscore.js')
	script(src='/js/chart.js')
	script(src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js")
	script(src="/js/angular-leaflet-directive.min.js")
	if initialData
		if counts[4].length
			script.
				initialData 		= !{JSON.stringify(initialData)};
				section = '#{section}';
				META = !{counts[4]};
		else 
			script.
				initialData 		= !{JSON.stringify(initialData)};
				section = '#{section}';
				META = {};
	else if counts[4].length
		script.
			initialData = null;
			section = '#{section}';
			META = !{counts[4]};
	else
		script.
			initialData = null;
			section = '#{section}';
			META = {};
	script.
		function commaSeparateNumber(val){while (/(\d+)(\d{3})/.test(val.toString())){ val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");} return val; }
		$({sha: 0 }).animate({sha: '#{counts[2]}' }, {duration: 1700,easing:'swing',step: function() {$('.ar-howmanyuntilnow').text(commaSeparateNumber(Math.round(this.sha)));}});
		$({hmt: 0 }).animate({hmt: '#{counts[1]}' }, {duration: 1700,easing:'swing',step: function() {$('.ar-howmanytravel').text(commaSeparateNumber(Math.round(this.hmt)));}});				
		$({gt: (META.grand_total - (META.grand_total*0.10)) }).animate({gt: META.grand_total}, {duration: 1700,easing:'swing',step: function() {$('.ar-howmuchuntilnow').text('$ '+commaSeparateNumber(Math.round(this.gt)));}});
		$('.nav a').on('click', function(){$(".navbar-toggle").click()});