doctype html
html(ng-app='viajes')
head
	title= 'Viajes Transparentes'
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/flat-ui.min.css')
	link(rel='stylesheet', href='/css/style.css')
body(ng-controller="NavigationController as nav")
	#map
	#panel
		#search_panel(class="ar-panel {{search_panel_class}}")
			.backbtn(ng-click="navigateTo('welcome_panel','backward')" ng-mouseover="" ng-mouseleave="")
			h3 Buscar viajes

			.ar-btn-wrapper
				.btn-group.ar-search-nav
					button.btn.btn-primary(ng-click="searchMode='destinos';searchinput=''" ng-class="{active:searchMode=='destinos'}") <span class="fui-location"></span></a> Destino
					button.btn.btn-primary(ng-click="searchMode='servidores';searchinput=''" ng-class="{active:searchMode=='servidores'}") <span class="fui-user"></span></a> Persona
					button.btn.btn-primary(ng-click="searchMode='inicio';searchinput=''" ng-class="{active:searchMode=='inicio'}") <span class="fui-calendar"></span></a> Fecha
					button.btn.btn-primary(ng-click="searchMode='eventos';searchinput=''" ng-class="{active:searchMode=='eventos'}") <span class="fui-bookmark"></span></a> Evento
	
			.ar-search-bar
				input.ar-search(type="text" placeholder="Buscar" required autofocus ng-model="searchinput" ng-keypress="autocomplete($event)" ng-keydown="moveAlongList($event)")
				ul.ar-autocomplete-list
					li.ar-suggestion( ng-repeat="sug in suggestions" ng-class="{active:activeSuggestion==sug.id}" ng-mouseover="setSuggestion(sug.id)") {{sug.title}}

			.loader
				| <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path transform="translate(2)" d="M0 12 V20 H4 V12z"> <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"/></path><path transform="translate(8)" d="M0 12 V20 H4 V12z"><animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"/></path><path transform="translate(14)" d="M0 12 V20 H4 V12z"><animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" /></path><path transform="translate(20)" d="M0 12 V20 H4 V12z"><animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" /></path><path transform="translate(26)" d="M0 12 V20 H4 V12z"><animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" /></path></svg>
	
			ul.ar-options-list
				li(ng-repeat="option in options")
					div.ar-option-upper
						div.ar-money {{option.totalCost}} <span>{{option.gastos.moneda}}</span>
						div.ar-transport(class="{{option.transportClass}}") {{option.pasaje.linea_origen}}
					div.ar-option-middler
						div(class="ar-person-photo {{option._servidor.tipo_rep.charAt(0).toLowerCase()}}")
						a.ar-name(href="{{document.URL+'servidor/'+option._servidor._id}}") {{option._servidor.nombre.toLowerCase()}}
						.ar-date {{option.inicio.dia}} de {{option.inicio.mes}}, {{option.inicio.anio}}
					div(class="ar-view")

		#explore_panel.ar-panel
			h1 Im explore panel
		#travel_panel.ar-panel
			.backbtn(ng-click="navigateTo('welcome_panel','backward')" ng-mouseover="peep('welcome_panel')" ng-mouseleave="unpeep('welcome_panel')")
			.ar-wrapper.w7
				.col-xs-12
					.col-xs-3
						div(class="ar-travel-type {{currentTravel.transportClass}}")
					.col-xs-8.ar-text-right
						div(class="ar-travel-cost") {{currentTravel.totalCost}}
						div(class="ar-currency") {{currentTravel.gastos.moneda}}
				div.ar-from-to {{currentTravel.origen}} <span></span> {{currentTravel.destinos}}
				.col-xs-11
					div.ar-date {{currentTravel.inicio.dia}}° <span>de</span> {{currentTravel.inicio.mes}} <span class="ar-frmto"></span> {{currentTravel.fin.dia}}° <span>de</span> {{currentTravel.fin.mes}}, {{currentTravel.inicio.anio}} <span>({{currentTravel.dias}})</span>
				div.ar-gdetails
					div(class="ar-hotel") {{currentTravel.hotel.nombre}}
					div(class="ar-airline") {{currentTravel.pasaje.linea_origen}}

				div.ar-person
					div(class="ar-person-photo {{currentTravel._servidor.tipo_rep.charAt(0).toLowerCase()}}")
					a(href="{{document.URL+'servidor/'+currentTravel._servidor._id}}").ar-name {{currentTravel._servidor.nombre.toLowerCase()}}
					span {{currentTravel._servidor.puesto.toLowerCase()}} - {{institutions[currentTravel._servidor._institucion].nombre}}
				
				div.ar-stuff-nobody-gives-a-fuck-about
					h6 Motivo
					p {{currentTravel.motivo}}
					h6 Resultado
					p.ar-pbigger {{currentTravel.resultado}}
					br
					h6 Evento
					p {{currentTravel.evento.nombre}}

				.ar-clear
				div.ar-stuff-maybe-someone-will-ever-read
					h7 Instituciones que patrocinan el viaje
					.ar-clear
					.ar-institution
						h6 {{currentTravel._institucion_hospedaje.nombre}}
						p {{currentTravel._institucion_hospedaje.descripcion}}
							br
							a(href="http://{{currentTravel._institucion_hospedaje.sitio}}") {{currentTravel._institucion_hospedaje.sitio}}
					.ar-institution(ng-show="currentTravel._institucion_hospedaje.nombre != currentTravel._institucion_pasaje.nombre")
						h6 {{currentTravel._institucion_pasaje.nombre}}
						p {{currentTravel._institucion_pasaje.descripcion}}
							br
							a(href="http://{{currentTravel._institucion_pasaje.sitio}}") {{currentTravel._institucion_pasaje.sitio}}

				.ar-clear

				#pdf.ar-actions.col-xs-3(ng-click="pdf()")
					.ar-borderer Descargar en formato PDF
				a#twitter.ar-actions.col-xs-3(target="_blank" href="http://twitter.com/share?url={{currentURL}}&text=Viajes%20Transparentes%20&hashtags=IFAI,transparencia")
					.ar-borderer Compartir en Twitter
				a#facebook.ar-actions.col-xs-3(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{currentURL}}") 
					.ar-borderer Mostrar en Facebook
				#email.ar-actions.col-xs-3(ng-click="email()")
					.ar-borderer Eviarme esto por correo

				.ar-spacer

		#welcome_panel(class="ar-panel {{welcome_panel_class}}")
			.ar-wrapper
				h1 Te damos la bienvenida a Viajes Transparentes
				p El IFAI pone a tus disposición toda la información sobre viajes de funcionarios públicos
				p
					a(href="#") Cuanto gasta en promedio un servidor público en un viaje
					| , los 
					a(href="#") viajes más costosos del año
					| , o los 
					a(href="#") hoteles mas frecuentados
					|  así como los resultados de los acuerdos obtenidos, puedes:
				.ar-welcome-options
					button(type="button" class="ar-explore btn btn-block btn-lg btn-primary") Explorar 
						span(class="glyphicon glyphicon-plane")
					button(ng-click="searchPanel()" type="button" class="ar-search btn btn-block btn-lg btn-primary") Buscar 
						span(class="glyphicon glyphicon-search")
				p Últimos viajes realizados
				ul.ar-travels
					each travel in data
						li(id="#{travel._id}" ng-click="view('#{travel._id}')")
							div(class="ar-view")
							if travel.pasaje.tipo=='Aéreo'
								div(class="ar-travel-type ar-transport-air")
							else if travel.pasaje.tipo=='Terrestre'
								div(class="ar-travel-type ar-transport-land")
							else if travel.pasaje.tipo=='Marítimo'
								div(class="ar-travel-type ar-transport-sea")
							else
								div(class="ar-travel-type ar-transport-unk")
							div.ar-travel-cost #{_.str.numberFormat(travel.gastos.viaticos+travel.gastos.pasaje+travel.gastos.hospedaje,2)}
							div.ar-star-err
								if travel.gastos.hospedaje==null || travel.gastos.pasaje==null || travel.gastos.viaticos==null
									a(href="#nota")  *
							div.ar-currency=travel.gastos.moneda
							- var day = 24*60*60*1000;							
							- var days = Math.round(Math.abs((travel.comision.fin - travel.comision.inicio)/(day))) + "";
							if days != "NaN" && days != "0"
								.ar-time #{days} Días
							else
								.ar-time **

							div.ar-name #{travel._servidor.nombre.toLowerCase()}
							//- div #{travel._destinos[0].ciudad}
							- var destinos = []; for(var i=travel._destinos.length-1;i>=0;i--) destinos.push( travel._destinos[i].ciudad+','+travel._destinos[i].pais );
							div.ar-from-to #{travel._origen.ciudad},#{travel._origen.pais} <span></span> #{destinos.join('; ')}

				p#nota * Los datos para los gastos de los viajes marcados están incompletos
				p#nota ** Los datos para las fechas marcadas son incoherentes

	script(src='/js/angular.min.js')
	script(src='/js/underscore.js')
	script(src='/js/jspdf.js')
	script(src='/js/app.js')
	if initialData
		script.
			initialData = !{JSON.stringify(initialData)};
			section = '#{section}';
	else
		script.
			initialData = null;
			section = '#{section}';