#welcome_panel(class="ar-panel {{welcome_panel_class}}")
	h1.ar-lg-ti Viajes Transparentes
	.col-xs-12.col-sm-6
		.ar-logo
	.col-xs-12.col-sm-6.ar-thephrase-container
		p.ar-thephrase Entérate de <b>qué hacen</b> y cuánto <b>dinero gastan</b> los servidores públicos <b>cuando viajan</b>
		.ar-search-bar
			form.input-group.ar-searchform-btng(ng-submit="submitSuggestion()")
				input.ar-search(type="text" placeholder="Buscar" required autofocus ng-model="searchinput" ng-keyup="autocomplete($event)" ng-keydown="moveUpOrDown($event)" ng-blur="suggestionsOut()" ng-focus="list_out='ar-in'")
				.input-group-btn
					button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown") {{searchCategory}}
						span.caret
					ul(class="dropdown-menu dropdown-menu-right" role="menu")
						li(ng-click="resetSearch('viajes','destinos')") Viajes
						li(ng-click="resetSearch('servidores','servidores')") Servidores
			#here
			ul(class="ar-autocomplete-list {{list_out}}" ng-show="search_panel_class == 'out'")
				li.ar-suggestion( ng-repeat="sug in suggestions" ng-class="{active:activeSuggestion==sug.id}" ng-click="chooseSuggestion(sug)" ng-mouseover="setSuggestion(sug.id)") {{sug.title}}
			.ar-search-crit-container(ng-show="searchCategory=='viajes'")
				.ar-crit-for-viajes.ar-btn-wrapper
					.btn-group.ar-search-nav
						button.btn.btn-primary(ng-click="switchMode('destinos')" ng-class="{active:searchMode=='destinos'}") <span class="fui-location"></span> Destino
						button.btn.btn-primary(ng-click="switchMode('eventos');" ng-class="{active:searchMode=='eventos'}") <span class="fui-bookmark"></span> Evento
				//- button.btn.btn-primary.ar-effective-search-button(ng-click="updateOptions()") Buscar

	.ar-thesearchresults.col-sm-12.col-xs-12(ng-show="(travellerOptions.length || travelOptions.length) && search_panel_class == 'out'")
		
		.ar-thetravellercontainer.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-repeat="option in travellerOptions")
			.ar-thetraveller(ng-class="{'no-photo':!option.picture}")
				.ar-person-photo.ar-thephoto(class="{{option.clave_salarial.toLowerCase()}}" style="background-image:url({{option.picture}});")
				.ar-thecontent
					.ar-thetitle.ar-thename {{option.nombre}}
						span.ar-theposition {{option.puesto}}
					.ar-idata.ar-theinst {{option._institucion.nombre}}
					p Presupuesto hasta ahora
					.ar-idata.ar-thetotalspent $ {{option.spent_so_far_mxn_lt}}
					p {{option.nviajes}}
				.ar-theactions
					div(class="ar-view" ng-click="travellerPanel(option._id)" title="click para ver más")
					div(class="ar-addtocompare" ng-click="compareList.add(option)" title="Seleccionar para comparar")
		
		.ar-thetravellercontainer.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-repeat="option in travelOptions")
			.ar-thetravel
				.ar-long-text-line {{option.consecutivo}}
				.ar-thetraveltitle
					.ar-thetravelevent(ng-class="{'expanded':option.expanded}")
						.ar-theexpander(ng-click="option.expanded=!option.expanded")
						p(title="{{option.evento.nombre}}") {{option.evento.nombre}}
				.ar-thecontent
					.ar-idata.ar-thetotalspent {{option.totalCost}} <span>{{option.gastos.moneda}}</span>
				.ar-person
					div(class="ar-person-photo {{option._servidor.tipo_rep.charAt(0).toLowerCase()}}")
					.ar-thename {{option._servidor.nombre.toLowerCase()}}
				.ar-thecontent
					p.ar-idata.ar-transport(class="{{option.transportClass}}") {{option.pasaje.linea_origen}}
					p.ar-date {{option.inicio.dia}} de {{option.inicio.mes}}, {{option.inicio.anio}}
					p.ar-to {{option.destinos}}							
				.ar-theactions.btn-group
					button.btn-primary.btn(class="ar-view" ng-click="travelPanel(option._id)" title="click para ver más")
					button.btn-primary.btn(class="ar-addtocompare" ng-click="compareList.add(option)" title="Seleccionar para comparar")
	
	section.ar-vwrap.col-sm-12.col-xs-12.ar-lesspt
		.col-xs-12.col-md-4
			.ar-bignumba.ar-howmanyuntilnow #{counts[2]}
			p.ar-bntitle Servidores rindiendo cuentas
		.col-xs-12.col-md-4
			if counts[4]
				.ar-bignumba.ar-howmuchuntilnow #{counts[4].grand_total}
			else
				.ar-bignumba.ar-howmuchuntilnow 0
			p.ar-bntitle Presupuesto total hasta el día de hoy
		.col-xs-12.col-md-4
			.ar-bignumba.ar-howmanytravel #{counts[1]}
			p.ar-bntitle Viajes a la fecha

	section.ar-vwrap.col-sm-12.col-xs-12.ar-lessmt
		.col-xs-12.col-md-4
			p.ar-graphtitle ¿Cuáles son los viajes más costosos?
			.ar-shrink70
				each trav in counts[3]
					.ar-row
						.ar-col #{trav._destinos[0].ciudad} 
						.ar-col.ar-tr $ #{Math.floor(trav.gastos.total_mx * 100) / 100}
				
		.col-xs-12.col-md-4
			p.ar-graphtitle ¿En qué se gasta más?
			.ar-donutchart
				canvas(id="enquesegastamas" width="250" height="250" style="max-width:200px; max-height:200px;")
			.col-xs-4.ar-txtc 
				span(style="background-color: #46BFBD; width:10px; height:10px; margin-right:5px; display:inline-block;") 
				span Pasaje 
			.col-xs-4.ar-txtc 
				span(style="background-color: #FDB45C; width:10px; height:10px; margin-right:5px; display:inline-block;") 
				span Viaticos 
			.col-xs-4.ar-txtc 
				span(style="background-color:#F7464A; width:10px; height:10px; margin-right:5px; display:inline-block;") 
				span Hospedaje 
		.col-xs-12.col-md-4
			p.ar-graphtitle ¿En qué mes se viaja más?
			canvas(id="yearlongchart" width="400" height="250" style="max-width:100%")

	section.ar-vwrap.col-sm-12.col-xs-12
		h6.ar-center Recibe los datos en tu correo
		p.ar-center Cada vez que se de de alta un nuevo viaje recibirás un correo electrónico con todos los datos

		form.ar-subcription.login-form.form.ar-form(ng-submit="subscribe()")
			.form-group
				input(class="form-control {{subscribed}}" type="email" ng-model="loggedUser.userData.email" placeholder="Correo electrónico")
				label.login-field-icon.fui-mail(class="{{subscribed}}")
				button(ng-click="subscribe()" type="button" class="btn btn-block btn-lg btn-primary {{subscribed}}") {{subscribed}}
					span(class="fui-check")

	.ar-clear
	.ar-sponsors
		.col-sm-3.col-xs-6.ar-sponsor
			a.ar-ifai(href="http://www.ifai.org.mx" target="_blank")
		.col-sm-3.col-xs-6.ar-sponsor
			a.ar-codeando(href="http://codeandomexico.org/" target="_blank")
		.col-sm-3.col-xs-6.ar-sponsor
			a.ar-socialtic(href="http://socialtic.org/" target="_blank") 
		.col-sm-3.col-xs-6.ar-sponsor
			a.ar-imco(href="http://imco.org.mx/" target="_blank")
	.ar-credits
		div.ar-left
			a(href="/rest" target="_blank") 
				span.fui-list-small-thumbnails 
				| REST
		div.ar-left
			a(href="") 
				span.fui-github
				|  Fuente
		.ar-right Hecho por 
			a(href="http://twitter.com/AixAimee" target="_blank") @aixaimee 
			| y 
			a(href="http://twitter.com/Dantaex" target="_blank") @dantaex 
			| en 
			a(href="http://aerostato.mx" target="_blank") aerostato.mx